html,body{
    height: 100%;
    width: 100%;
}
.main_accountOtherBind{
    padding: 20px 38px 20px 20px;
    background: #fff;
    border-radius: 10px;
}
.main_accountOtherBind h1{
    font-size: 20px;
    font-weight: bold;
    color: #111;
    padding: 0;
    margin: 0;
    line-height: normal;
}
.main_accountOtherBind .uk-width-100{
    padding-left: 17px;
}
.QQBox_accountOtherBind img,.weiboBox_accountOtherBind img,.weixBox_accountOtherBind img{
    width: 50px;
    height: 50px;
}
.QQBox_accountOtherBind p,.weixBox_accountOtherBind p,.weiboBox_accountOtherBind p{
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #111;
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
}
.QQBox_accountOtherBind p.binded{
    font-size: 14px;
    font-weight: bold;
    margin-left: 31px;
    cursor: pointer;
}
.QQBox_accountOtherBind a,.weixBox_accountOtherBind a,.weiboBox_accountOtherBind a{
    line-height: 50px;
    color: #111;
}
.QQBox_accountOtherBind a:hover,.weixBox_accountOtherBind a:hover,.weiboBox_accountOtherBind a:hover{
    color: #707070;
}
p.didbind{
    font-size: 14px;
    font-weight: bold;
    margin-left: 31px;
    color: #ed510a;
    cursor: pointer;
}
.QQBox_accountOtherBind,.weixBox_accountOtherBind,.weiboBox_accountOtherBind{
    margin-top: 30px;
}
.removeCover,.cover{
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}
.bindSucceedBox{
    width: 550px;
    height: 200px;
    border-radius: 10px;
    background: #fff;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -120px;
    margin-left: -295px;
}
.bindSucceedBox > p{
    padding: 0;
    margin: 0;
    font-size: 16px;
    color: #111;
    vertical-align: middle;
    display: inline-block;
    margin-left: 20px;
}
.bindSucceed{
    margin-top: 21px;
}
.bindSucceed  p{
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 24px;
    color: #ed510a;
    margin-left: 24px;
    vertical-align: middle;
}
.bindSucceed > div{
    width: 182px;
}