.zrfy_img_show{
	margin-top:30px;
}
.zrfy_img_one,.zrfy_img_four{
	height:500px;
}
.zrfy_img_two,.zrfy_img_three{
	height:250px;
	width:100%;
}
.zrfy_img_show .uk-overlay{
	display:block;
}
.zrfy_img_show .uk-overlay-background{
	background:rgba(237, 81, 10, 0.6);
}
.fjgs_list{
	width:100%;
	max-width:1920px;
	border-top:1px solid #dadada;
	border-bottom:1px solid #dadada;
	padding:30px 0;
	overflow:hidden;
	margin-bottom:40px;
}
.fjgs_con{
	width:1200px;
	margin:0 auto;
}
.fjgs_con div:first-child{
	padding-left:45px;
}
.fjgs_con div:last-child{
	padding-right:45px;
}
.fjgs_con p{
	float:inherit;
	margin:0;
	color:#ed510a;
}
.zrfy_xmlist{
	width:1200px;
	margin:0 auto;
	overflow: hidden;
}
.fjgs_con .common_division{
	float:inherit;
	display: inline-block;
	width:10px;
	height:20px;
	margin-bottom:4px;
}
.fjgs_con div:last-child{
	text-align:right;
}
.fjgs_con div:nth-child(2),.fjgs_con span{
	display: block;
	text-align: center;
}
.fjzs_img{
	border:1px solid #dadada;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 60px 155px;
	overflow: hidden;
	margin-bottom:10px;
	display:inline-block;
}