input{
    outline: none;
    border:1px solid #dadada;
}
i{
    font-style: normal;
}
.uk-grid.bindEmail{
    margin-left: 0;
}
.bindEmail .uk-width-2-10{
    width: 25%;
}
.bindEmail .uk-width-8-10{
    width: 75%;
}
.safeCenter_bindEmail{
    padding-top: 23px;
    padding-left: 46px;
}
.safeCenter_bindEmail li{
    color: #373737;
    width: 70px;
    text-align: center;
    margin-bottom: 4px;
}
.safeCenter_bindEmail li a:hover{
    color: #006ec5;
}
.safeCenter_bindEmail li:first-child{
    font-weight: bold;
    margin-bottom: 6px;
}
.safeCenter_bindEmail li a{
    color: #373737;
}
li.safeCenterSidebarActive_bindEmail a{
    color: #006ec5;
}
.step_bindEmail .uk-grid > *{
    padding-left: 0;
}
.step_bindEmail{
    border-radius: 10px;
    background: #fff;
    padding: 28px 40px 36px 40px;
}
.tittle_bindEmail{
    color: #373737;
    font-weight: bold;
}
.tittle_bindEmail i{
    width: 4px;
    height: 8px;
    background: #006ec5;
    margin-right: 10px;
    display: inline-block;
}
.stepPlanBox_bindEmail{
    border: 2px solid #59ace2;
    width: 596px;
    height: 16px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    position: relative;
/*    overflow: hidden;*/
}
.stepPlanBox_bindEmail span:first-child{
    width: 200px;
    height: 20px;
    background: #006ec5;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: -2px;
    left: 0px;
    z-index: 2;
}
#emailBind .stepPlanBox_bindEmail span:first-child{
    width: 50%;
    height: 20px;
    background: #006ec5;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: -2px;
    left: 0px;
    z-index: 2;
}
.stepPlanBox_bindEmail span:last-child{
    width: 200px;
    height: 16px;
    display: none;
    background: #a5d8f4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
#emailBind .stepPlanBox_bindEmail span:last-child{
    width: 50%;
    height: 16px;
    display: none;
    background: #a5d8f4;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.stepPlan_bindEmail,.stepPlan_bindEmail2{
    overflow: hidden;
    margin-left: auto;margin-right: auto;
    width: 600px;
    padding-left: 0;
    margin-top: 10px;
}
.stepPlan_bindEmail li,.stepPlan_bindEmail2 li{
    float: left;
    width: 200px;
}
#emailBind .stepPlan_bindEmail li,.stepPlan_bindEmail2 li{
    float: left;
    width: 300px;
}
.stepPlan_bindEmail li p,.stepPlan_bindEmail2 li p{
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color: #aeaeae;
    font-weight: bold;
}
.active_bindEmail span:before{
    background: #006ec5;
}
.active_bindEmail span:after{
    border-top-color:#006ec5;
}
li.active_bindEmail p{
    color: #006ec5;
}
.ed span:before{
    background: #a5d8f4;
}
.ed span:after{
    border-top-color: #a5d8f4;
}
li.ed p{
    color: #a5d8f4;
}
.waterDrop_bindEmail{
    width: 26px;
    height: 40px;
    display: block;
    position: relative;
    margin: 0 auto;
}
.waterDrop_bindEmail:before{
    content:'1';
    height:26px;
    width:26px;
    display:block;
    position:absolute;
    bottom:2px;
    left:0px;
    z-index:1;
    line-height:26px;
    background:#aeaeae;
    border-radius:40px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    color:#fff;
    text-align:center;
}
.waterDrop_bindEmail:after{
    content:'';
    height:0px;
    width:0px;
    display:block;
    position:absolute;
    top:4px;
    left:1px;
    border:10px transparent solid;
    border-top-color:#aeaeae;
    border-width:15px 10px 0px 10px;
    transform:rotate(60deg);
    -ms-transform:rotate(60deg); 	/* IE 9 */
    -moz-transform:rotate(60deg);	/* Firefox */
    -webkit-transform:rotate(60deg); /* Safari 和 Chrome */
    -o-transform:rotate(60deg);
}
.waterDrop_bindEmail2{
    width: 26px;
    height: 40px;
    display: block;
    position: relative;
    margin: 0 auto;
}
.waterDrop_bindEmail2:before{
    content:'2';
    height:26px;
    width:26px;
    display:block;
    position:absolute;
    bottom:2px;
    left:0px;
    z-index:1;
    line-height:26px;
    background:#aeaeae;
    border-radius:40px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    color:#fff;
    text-align:center;
}
.waterDrop_bindEmail2:after{
    content:'';
    height:0px;
    width:0px;
    display:block;
    position:absolute;
    top:4px;
    left:1px;
    border:10px transparent solid;
    border-top-color:#aeaeae;
    border-width:15px 10px 0px 10px;
    transform:rotate(60deg);
    -ms-transform:rotate(60deg); 	/* IE 9 */
    -moz-transform:rotate(60deg);	/* Firefox */
    -webkit-transform:rotate(60deg); /* Safari 和 Chrome */
    -o-transform:rotate(60deg);
}
.waterDrop_bindEmail3{
    width: 26px;
    height: 40px;
    display: block;
    position: relative;
    margin: 0 auto;
}
.waterDrop_bindEmail3:before{
    content:'3';
    height:26px;
    width:26px;
    display:block;
    position:absolute;
    bottom:2px;
    left:0px;
    z-index:1;
    line-height:26px;
    background:#aeaeae;
    border-radius:40px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    color:#fff;
    text-align:center;
}
.waterDrop_bindEmail3:after{
    content:'';
    height:0px;
    width:0px;
    display:block;
    position:absolute;
    top:4px;
    left:1px;
    border:10px transparent solid;
    border-top-color:#aeaeae;
    border-width:15px 10px 0px 10px;
    transform:rotate(60deg);
    -ms-transform:rotate(60deg); 	/* IE 9 */
    -moz-transform:rotate(60deg);	/* Firefox */
    -webkit-transform:rotate(60deg); /* Safari 和 Chrome */
    -o-transform:rotate(60deg);
}
.testingPhone_bindEmail > *{
    display: inline-block;
}
.testingPhone_bindEmail span:first-child{
    font-weight: bold;
}
.testingPhone_bindEmail span:last-child a{
    margin-left: 56px;
    color: #006ec5;
}
.testingPhone_bindEmail span:last-child a:hover{
    color: #ed682c;
}
.testingPhoneCode_bindEmail{
    margin-top: 20px !important;
}
.testingPhoneCode_bindEmail input{
    width: 205px;
    height: 28px;
    padding: 0 10px;
}
.testingPhoneCode_bindEmail button{
    width: 120px;
    height: 30px;
    border: 1px solid #dadada;
    font-family: "Microsoft Yahei";
    background: #f9f9f9;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
}
.testingPhoneCode_bindEmail label{
    line-height: 30px;
}
.testingCode_bindEmail{
    margin-top: 15px !important;
}
.testingCode_bindEmail input{
    width: 205px;
    height: 28px;
    padding: 0 10px;
}
.testingCode_bindEmail button{
    width: 120px;
    height: 30px;
    border: none;
    font-family: "Microsoft Yahei";
    background: #f9f9f9;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
.testingCode_bindEmail span{
    margin-left: 5px;
}
.testingCode_bindEmail span a{
    color: #006ec5;
}
.testingCode_bindEmail span a:hover{
    color: #ed682c;
}
.testingCode_bindEmail label{
    line-height: 30px;
}
.submit_bindEmail{
    margin-top: 36px !important;
}
.submit_bindEmail button{
    width: 120px;
    height: 30px;
    border: 1px solid #dadada;
    background: #006ec5;
    text-align: center;
    font-family: "Microsoft Yahei";
    color: #fff;
    outline: none;
    cursor: pointer;
}
.newPswd_bindEmail label{
    line-height: 30px;
}
.newPswd_bindEmail i{
    color: #ed510a;
    font-style: normal;
    margin-right: 2px;
}
.newPswd_bindEmail input{
    width: 205px;
    height: 28px;
    padding: 0 10px; 
}
.newPswd_bindEmail p{
    margin-top: 9px;
    color: #aeaeae;
}
.newPswdAgain_bindEmail{
    margin-top: 9px !important;
}
.newPswdAgain_bindEmail label{
    line-height: 30px;
}
.newPswdAgain_bindEmail i{
    color: #ed510a;
    font-style: normal;
    margin-right: 2px;
}
.newPswdAgain_bindEmail input{
    width: 205px;
    height: 28px;
    padding: 0 10px;
}
.newPswdAgain_bindEmail button{
    width: 120px;
    height: 30px;
    border: 1px solid #dadada;
    font-family: "Microsoft Yahei";
    background: #f9f9f9;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
}
.alterSucceed_bindEmail{
    margin-top: 67px;
}
.alterSucceed_bindEmail .uk-width-3-10{
    width: 35%;
}
.alterSucceed_bindEmail .uk-width-7-10{
    width: 65%;
    padding-left: 27px;
}
.alterSucceed_bindEmail img{
    margin-top: 24px;
}
.congratulation_bindEmail{
    font-size: 29px;
    color: #006ec5;
    margin-bottom: 28px;
}
.safeduBox_bindEmail{
    width: 100px;
    height: 10px;
    border: 1px solid #006ec5;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.safeduBox_bindEmail span{
    height: 10px;
    background: #006ec5;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 70%;
}
.safeduLv_bindEmail{
    color: #006ec5;
    margin-left: 4px;
}
.alterSucceed_bindEmail .uk-width-7-10 p:last-child{
    font-size: 12px;
    margin-top: 20px;
}
.alterSucceed_bindEmail .uk-width-7-10 p:last-child a{
    color: #006ec5;
}
.alterSucceed_bindEmail .uk-width-7-10 p:last-child a:hover{
    color: #7fc7ef;
}
#emailAlter,#emailBind{
    display: none;
}