html,body{
    height: 100%;
}
.forgetPasswordBg{
    width: 100%;
    height: 100%;
    background: url("../images/login_bg.jpg") center center no-repeat;
    position: relative;
}
.forgetPasswordBox_forgetPassword{
    padding: 30px 0;
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
    width: 696px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -348px;
    margin-top: -175px;
}
.forgetPasswordBox_forgetPassword h1{
    font-size: 24px;
    color: #fff;
    padding: 0;
    margin: 0;
    line-height: normal;
    text-align: center;
}
.forgetPasswordBox_forgetPassword .uk-grid > *{
    color: #fff;
}
.forgetPasswordBox_forgetPassword .verify label{
/*    line-height: 30px;*/
    margin: 5px 0;
}
.forgetPasswordBox_forgetPassword .verify input{
    width: 215px;
    height: 28px;
    background: #fff;
    color: #484848;
    outline: none;
    border: 1px solid #dadada;
    padding-left: 10px;
    vertical-align: middle;
}
button.getAuthCode_forgetPassword{
    padding: 0 10px;
    border: 1px solid #dadada;
    height: 30px;
    outline: none;
    background: #f9f9f9;
    font-size: 14px;
    vertical-align: middle;
    font-family: "Microsoft Yahei";
    color: #006ec5;
    cursor: pointer;
    margin-left: 5px;
}
img.inputAuthCode_forgetPassword{
    border: 1px solid #dadada;
    width: 120px;
    height: 30px;
    background: #f9f9f9;
    vertical-align: middle;
    margin-left: 5px;
    cursor: pointer;
}
a.change_forgetPassword{
    color: #006ec5;
}
a.change_forgetPassword:hover{
    color: #3087cc;
}
.forgetPasswordBox_forgetPassword .uk-grid input.submit_forgetPassword{
    width: 120px;
    height: 30px;
    background: #006ec5;
    color: #fff;
    border: none;
    padding-left: 0;
    cursor: pointer;
}
.changeStyle_forgetPassword{
    color: #006ec5;
    font-size: 12px;
}
.changeStyle_forgetPassword:hover{
    color: #3087cc;
}
.forgetPasswordBox_forgetPassword .emailStep1 .uk-grid,.forgetPasswordBox_forgetPassword .phoneStep1 .uk-grid{
    margin-top: 26px;
}
.emailStep2,.phoneStep2{
    display: none;
}
div.phoneStep2 input[type="password"]{
    color: #484848;
}
.forgetPasswordBox_forgetPassword .newPassword *{
    color: #fff;
}
.forgetPasswordBox_forgetPassword .newPassword label{
    margin: 5px 0;
}
.forgetPasswordBox_forgetPassword .newPassword label i{
    font-style: normal;
    color: #006ec5;
    margin-right: 5px;
    display: inline-block;
}
.forgetPasswordBox_forgetPassword .newPassword input{
    border: 1px solid #dadada;
    padding-left: 10px;
    width: 215px;
    height: 28px;
    background: #fff;
    color: #484848;
    outline: none;
}
.forgetPasswordBox_forgetPassword .newPassword:first-child{
    margin-top: 26px;
}
.forgetPasswordBox_forgetPassword .newPassword:last-child{
    margin-top: 26px;
}
.forgetPasswordBox_forgetPassword .newPassword:first-child p{
    padding: 0;
    margin: 0;
    font-size: 12px;
    margin: 8px 0;
}
.alterSucceedIcon_forgetPassword img{
    margin-top: 23px;
    margin-right: 33px;
}
.alterSucceed_forgetPassword h1{
    font-size: 29px;
    color: #006ec5;
    padding: 0;
    margin: 0;
}
.alterSucceed_forgetPassword p{
    padding: 0;
    margin: 0;
    color: #fff;
    margin: 12px 0;
}
.alterSucceed_forgetPassword p i{
    font-style: normal;
    color: #006ec5;
}
.alterSucceed_forgetPassword a{
    color: #006ec5;
    font-size: 12px;
}
.alterSucceed_forgetPassword a:hover{
    color: #3087cc;
}
.emailStep3,.phoneStep3{
    height: 280px;
    display: none;
}