.latestNewsDetail_lnd{
    background: #fff;
    padding: 20px;
    margin: 20px 0 0 0;
}
.topTitle_lnd .uk-breadcrumb>li:nth-child(n+2):before{
    content: '>'
}
.topTitle_lnd li{
    color: #006ec5;
}
.topTitle_lnd li a{
    color: #006ec5;
}
.main_lnd{
    padding: 0 25px;
}
.newsImg{
    margin: 20px 0;
}
.oneNew_lnd{
    margin: 40px 0 30px 0;
}
.mainTitle_lnd p{
    margin: 0;
    padding: 0;
}
.mainContent_lnd{
    margin: 0;
    padding: 0;
    text-align: justify;
    line-height: 25px;
    margin-top: 5px;
}