.latestNews_ln{
    margin-top: 20px;
}
.latestNews1tier_ln{
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}
.latestNews2tier_ln{
    width: 100%;
    background: #f9f9f9;
    height: 20px;
    margin-bottom: 70px;
}
.topTime_ln > span{
    display: inline-block;
    vertical-align: middle;
}
.topTime_ln > span:first-child{
    width: 60px;
    height: 46px;
    padding: 7px 0;
/*    background: #006ec5;*/
    border-radius: 10px;
}
.topTime_ln > span:first-child > div:first-child{
    color: #fff;
    font-size: 20px;
    text-align: center;
}
.topTime_ln > span:first-child > div:nth-child(2){
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-top: 4px;
}
.topTime_ln > span:last-child{
    color: #006ec5;
    font-size: 14px;
    margin-left: 17px;
}
.topTime_ln > span:last-child i{
    display: inline-block;
    width: 1px;
    height: 15px;
    background: #006ec5;
    vertical-align: sub;
    margin: 0 17px;
}
.line_ln{
    width: 2px;
    height: 220px;
    background: #ededed;
    position: relative;
}
.globule_ln{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -4px;
    background: #006ec5;
}
.lineGlobuleBox_ln{
    position: absolute;
    left: 50%;
    bottom: -180px;
    margin-left: -1px;
}
.title_ln{
    margin-top: 45px;
    padding-left: 60px;
    min-height: 145px;
}
.title_ln div:nth-child(1){
    font-size: 18px;
    color: #586168;
}
.title_ln div:nth-child(2){
    font-size: 12px;
    color: #a1a1a1;
    margin-top: 20px;
}
.main_ln{
    padding-left: 23px;
    color: #a1a1a1;
    margin-top: 25px;
    line-height: 30px;
}
.main_ln a{
    color: #006ec5;
}
.latestNews3tier_ln{
    margin-bottom: 50px;
}
.noLatestNews{
    color: #006ec5;
    font-size: 20px;
    height: 200px;
}
@media (max-width: 765px){
    .title_ln{
        padding: 0 10px !important;
        margin-top: 20px;
    }
    .title_ln div:nth-child(1){
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .title_ln div:nth-child(2){
        margin-top: 10px;
    }
    .main_ln{
        margin-top: 10px;
        padding: 0 10px;
    }
    .latestNews1tier_ln .uk-width-1-1{
        text-align: center;
/*        margin: 10px 0;*/
    }
    .latestNews1tier_ln .uk-width-1-1 img{
        width: 100% !important;
    }
    .smallNewsBox_ln{
        width: 100%;
    }
    .latestNews1tier_ln{
        margin: 0 20px;
    }
    .title_ln div:nth-child(1){
        background: #ededed;
        padding: 5px;
    }
}