input{
    outline: none;
    border:1px solid #dadada;
}
i{
    font-style: normal;
}
.uk-grid.payPassword{
    margin-left: 0;
}
.payPassword .uk-width-2-10{
    width: 25%;
}
.payPassword .uk-width-8-10{
    width: 75%;
}
.safeCenter_payPassword{
    padding-top: 23px;
    padding-left: 46px;
}
.safeCenter_payPassword li{
    color: #373737;
    width: 70px;
    text-align: center;
    margin-bottom: 4px;
}
.safeCenter_payPassword li a:hover{
    color: #ed510a;
}
.safeCenter_payPassword li:first-child{
    font-weight: bold;
    margin-bottom: 6px;
}
.safeCenter_payPassword li a{
    color: #373737;
}
li.safeCenterSidebarActive_payPassword a{
    color: #ed510a;
}
.step_payPassword .uk-grid > *{
    padding-left: 0;
}
.step_payPassword{
    border-radius: 10px;
    background: #fff;
    padding: 28px 40px 36px 40px;
}
.tittle_payPassword{
    color: #373737;
    font-weight: bold;
}
.tittle_payPassword i{
    width: 4px;
    height: 8px;
    background: #ed510a;
    margin-right: 10px;
    display: inline-block;
}
.stepPlanBox_payPassword{
    border: 2px solid #ed510a;
    width: 596px;
    height: 16px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 58px;
    position: relative;
/*    overflow: hidden;*/
}
.stepPlanBox_payPassword span:first-child{
    width: 200px;
    height: 20px;
    background: #ed510a;
    border-radius: 10px;
    display: block;
    position: absolute;
    top: -2px;
    left: 0px;
    z-index: 2;
}

.stepPlanBox_payPassword span:last-child{
    width: 200px;
    height: 16px;
    display: none;
    background: #f28553;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.stepPlan_payPassword,.stepPlan_payPassword2{
    overflow: hidden;
    margin-left: auto;margin-right: auto;
    width: 600px;
    padding-left: 0;
    margin-top: 10px;
}
.stepPlan_payPassword li,.stepPlan_payPassword2 li{
    float: left;
    width: 200px;
}
.stepPlan_payPassword li p,.stepPlan_payPassword2 li p{
    text-align: center;
    margin: 0;
    margin-top: 10px;
    color: #aeaeae;
    font-weight: bold;
}
.active_payPassword span:before{
    background: #ed510a;
}
.active_payPassword span:after{
    border-top-color:#ed510a;
}
li.active_payPassword p{
    color: #ed510a;
}
.ed span:before{
    background: #f28553;
}
.ed span:after{
    border-top-color: #f28553;
}
li.ed p{
    color: #f28553;
}
.waterDrop_payPassword{
    width: 26px;
    height: 40px;
    display: block;
    position: relative;
    margin: 0 auto;
}
.waterDrop_payPassword:before{
    content:'1';
    height:26px;
    width:26px;
    display:block;
    position:absolute;
    bottom:2px;
    left:0px;
    z-index:1;
    line-height:26px;
    background:#aeaeae;
    border-radius:40px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    color:#fff;
    text-align:center;
}
.waterDrop_payPassword:after{
    content:'';
    height:0px;
    width:0px;
    display:block;
    position:absolute;
    top:4px;
    left:1px;
    border:10px transparent solid;
    border-top-color:#aeaeae;
    border-width:15px 10px 0px 10px;
    transform:rotate(60deg);
    -ms-transform:rotate(60deg); 	/* IE 9 */
    -moz-transform:rotate(60deg);	/* Firefox */
    -webkit-transform:rotate(60deg); /* Safari 和 Chrome */
    -o-transform:rotate(60deg);
}
.waterDrop_payPassword2{
    width: 26px;
    height: 40px;
    display: block;
    position: relative;
    margin: 0 auto;
}
.waterDrop_payPassword2:before{
    content:'2';
    height:26px;
    width:26px;
    display:block;
    position:absolute;
    bottom:2px;
    left:0px;
    z-index:1;
    line-height:26px;
    background:#aeaeae;
    border-radius:40px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    color:#fff;
    text-align:center;
}
.waterDrop_payPassword2:after{
    content:'';
    height:0px;
    width:0px;
    display:block;
    position:absolute;
    top:4px;
    left:1px;
    border:10px transparent solid;
    border-top-color:#aeaeae;
    border-width:15px 10px 0px 10px;
    transform:rotate(60deg);
    -ms-transform:rotate(60deg); 	/* IE 9 */
    -moz-transform:rotate(60deg);	/* Firefox */
    -webkit-transform:rotate(60deg); /* Safari 和 Chrome */
    -o-transform:rotate(60deg);
}
.waterDrop_payPassword3{
    width: 26px;
    height: 40px;
    display: block;
    position: relative;
    margin: 0 auto;
}
.waterDrop_payPassword3:before{
    content:'3';
    height:26px;
    width:26px;
    display:block;
    position:absolute;
    bottom:2px;
    left:0px;
    z-index:1;
    line-height:26px;
    background:#aeaeae;
    border-radius:40px;
    -webkit-border-radius:40px;
    -moz-border-radius:40px;
    color:#fff;
    text-align:center;
}
.waterDrop_payPassword3:after{
    content:'';
    height:0px;
    width:0px;
    display:block;
    position:absolute;
    top:4px;
    left:1px;
    border:10px transparent solid;
    border-top-color:#aeaeae;
    border-width:15px 10px 0px 10px;
    transform:rotate(60deg);
    -ms-transform:rotate(60deg); 	/* IE 9 */
    -moz-transform:rotate(60deg);	/* Firefox */
    -webkit-transform:rotate(60deg); /* Safari 和 Chrome */
    -o-transform:rotate(60deg);
}
.testingPhone_payPassword > *{
    display: inline-block;
}
.testingPhone_payPassword span:first-child{
    font-weight: bold;
}
.testingPhone_payPassword span:last-child a{
    margin-left: 56px;
    color: #ed510a;
}
.testingPhone_payPassword span:last-child a:hover{
    color: #ed682c;
}
.testingPhoneCode_payPassword{
    margin-top: 20px !important;
}
.testingPhoneCode_payPassword input{
    width: 205px;
    height: 28px;
    padding: 0 10px;
}
.testingPhoneCode_payPassword button{
    width: 120px;
    height: 30px;
    border: 1px solid #dadada;
    font-family: "Microsoft Yahei";
    background: #f9f9f9;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
}
.testingPhoneCode_payPassword label{
    line-height: 30px;
}
.testingCode_payPassword{
    margin-top: 20px !important;
}
.testingCode_payPassword input{
    width: 205px;
    height: 28px;
    padding: 0 10px;
}
.testingCode_payPassword button{
    width: 120px;
    height: 30px;
    border: none;
    font-family: "Microsoft Yahei";
    background: #f9f9f9;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
.testingCode_payPassword span{
    margin-left: 5px;
}
.testingCode_payPassword span a{
    color: #ed510a;
}
.testingCode_payPassword span a:hover{
    color: #ed682c;
}
.testingCode_payPassword label{
    line-height: 30px;
}
.submit_payPassword{
    margin-top: 36px !important;
}
.submit_payPassword button{
    width: 120px;
    height: 30px;
    border: 1px solid #dadada;
    background: #ed510f;
    text-align: center;
    font-family: "Microsoft Yahei";
    color: #fff;
    outline: none;
    cursor: pointer;
}
.newPswd_payPassword label{
    line-height: 30px;
}
.newPswd_payPassword i{
    color: #ed510f;
    font-style: normal;
    margin-right: 2px;
}
.newPswd_payPassword input{
    width: 205px;
    height: 28px;
    padding: 0 10px; 
}
.newPswd_payPassword p{
    margin-top: 9px;
    color: #aeaeae;
}
.newPswdAgain_payPassword{
    margin-top: 9px !important;
}
.newPswdAgain_payPassword label{
    line-height: 30px;
}
.newPswdAgain_payPassword i{
    color: #ed510f;
    font-style: normal;
    margin-right: 2px;
}
.newPswdAgain_payPassword input{
    width: 205px;
    height: 28px;
    padding: 0 10px;
}
.newPswdAgain_payPassword button{
    width: 120px;
    height: 30px;
    border: 1px solid #dadada;
    font-family: "Microsoft Yahei";
    background: #f9f9f9;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
}
.testingCode_payPassword{
    margin-top: 20px !important;
}
.testingCode_payPassword input{
    width: 205px;
    height: 28px;
    padding: 0 10px;
}
.testingCode_payPassword button{
    width: 120px;
    height: 30px;
    border: none;
    font-family: "Microsoft Yahei";
    background: #f9f9f9;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
    font-weight: bold;
}
.testingCode_payPassword span{
    margin-left: 5px;
}
.testingCode_payPassword span a{
    color: #ed510a;
}
.testingCode_payPassword span a:hover{
    color: #ed682c;
}
.testingCode_payPassword label{
    line-height: 30px;
}
.alterSucceed_payPassword{
    margin-top: 67px;
}
.alterSucceed_payPassword .uk-width-3-10{
    width: 35%;
}
.alterSucceed_payPassword .uk-width-7-10{
    width: 65%;
    padding-left: 27px;
}
.alterSucceed_payPassword img{
    margin-top: 24px;
}
.congratulation_payPassword{
    font-size: 29px;
    color: #ed510a;
    margin-bottom: 28px;
}
.safeduBox_payPassword{
    width: 100px;
    height: 10px;
    border: 1px solid #fe7a3f;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.safeduBox_payPassword span{
    width: 80%;
    height: 10px;
    background: #ed510a;
    position: absolute;
    top: 0px;
    left: 0px;
}
.safeduLv_payPassword{
    color: #ed510a;
    margin-left: 4px;
}
.alterSucceed_payPassword .uk-width-7-10 p:last-child{
    font-size: 12px;
    margin-top: 20px;
}
.alterSucceed_payPassword .uk-width-7-10 p:last-child a{
    color: #ed510a;
}
.alterSucceed_payPassword .uk-width-7-10 p:last-child a:hover{
    color: #ed682c;
}
.color_ed510f{
    color: #ed510f;
    margin-right: 2px;
}
#EMAIL{
    display: none;
}